  <link rel="stylesheet" href="../public/styles/product.css">
  <form method='post' name='drug' action='' style="overflow: hidden; width: 100%; padding: 50px;">
    <input name='name' type='text' placeholder='Название' />
    <input name='describe' type='text' placeholder='Описание' />
    <input name='price' type='text' placeholder='Цена' />
    <input name='discount' type='text' placeholder='Цена со скидкой' />
    <label for='img'>
      <input name='img' type='text' placeholder='IMG' />
    </label>
    <button type='submit' href='#' class='btn btn-primary'>Добавить</button>
  </form>
  <div style="overflow: hidden; width: 100%;">
  <ol class='list container' style='margin: 40px; display: flex; display: grid; gap: 1.5rem; grid-auto-flow: row dense; grid-template-columns: repeat(5,.2fr); list-style-type: none;'>
    {{#each product}}
      <li id="div-{{id}}">
        <div class='card' style='width: 18rem;'>
          <img src={{img}} class='card-img-top' alt='...' />
          <div class='card-body'>
            <h5 class='card-title'>{{name}}</h5>
            <p class='card-text'>{{describe}}</p>
            <p class='card-text'>{{price}} ₽</p>
            <p class='card-text'>Цена со скидкой {{discount}} ₽</p>
            <button type="click" href='#' data-id={{id}} class='btn btn-primary'>Купить</button>
            <button type="click" href='#' data-id={{id}} class='btn btn-primary'>Изменить</button>
            <button type="click" href='#' data-type="delete" data-id={{id}} class='btn btn-primary delete-button'>Удалить</button>
          </div>
        </div>
      </li>
    {{/each}}
  </ol>
</div>
